@model CompanyUI.Models.InvoiceModels

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<!--Andrew Brudnak-->
<div>
	<h4>InvoiceModels</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.InvoiceId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.InvoiceId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CustomerId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CustomerId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.InvoiceDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.InvoiceDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Total)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Total)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
	@Html.ActionLink("Back to List", "Index")
</p>
